	#star
server {
	autoindex	on;
	listen 0.0.0.0:8000;

	server_name		webserv;

	index	index.php;
	root /var/www/html;

	cgi .php /usr/bin/php-cgi;

	error_page 404 /var/www/err_pages/err_404.html;

    location / {
        root /var/www/html;
        index index.php;
        autoindex on;
    }

    location /site0 {
        autoindex on;
        root /var/www/html/0;
        methods GET POST DELETE;
    }

	location /storage {
		root /var/www/html/upload;

		autoindex on;
		client_max_body_size 10M;
		methods GET POST;
	}

	location /up {
		upload on;

		methods GET POST;
	}

}

#hello

