	#star
server {
	listen 8000;
	server_name localhost;

	index	index.html;
	root /tmp/server;

	error_page 404 /tmp/server/err_pages/err_404.html;
	cgi .php /tmp/cgi_bin/php-cgi;

	location /auto {
		autoindex on;
		root /tmp/server;
	}

	location /imgs {
		autoindex off;
		root /tmp/server/imgs;
	}


	location /site0 {
		root /tmp/server/0;

		autoindex off;
		index index.html;
	}

	location /site1 {
		root /tmp/server/1;

		autoindex on;
		index index.html;
	}

	location /site2 {
		root /tmp/server/2;

		autoindex on;
	}

	location /site3 {
		root /tmp/server/3;

		autoindex off;
	}

}

